* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

#produtos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#carrinho {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  display: block;
  padding-bottom: 200px;
}

.produto-single {
  width: 30%;
  margin: 1%;
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #f9f9f9;
  transition: transform 0.3s, opacity 0.3s;
}

.produto-single p {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

.produto-single a {
  text-decoration: none;
  color: white;
  background-color: #5fb382;
  text-align: center;
  display: block;
  padding: 4px 0;
  font-size: 18px;
}

.produto-single img {
  max-width: 100%;
}

.produto-single:hover {
  transform: scale(1.02);
}

.info-single-checkout,
.total-checkout {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.add-to-cart {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

h2 {
  background-color: #623282;
  padding: 10px 0;
  text-align: center;
  color: white;
}

.a {
  background-color: #623282;
}

#preco {
  color: rgb(0, 132, 255);
  font-weight: bold;
}

#info {
  color: white;
  text-align: center;
  margin: 40px;
}

.favicon-git {
  display: block;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #f1f1f1;
  bottom: 0;
  width: 100%;
}

.footer-text {
  margin: 0;
}

.footer-link {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 888px) {
  .produto-single {
    width: 100%;
    margin-right: 0;
  }
  #produtos {
    flex-direction: column;
  }
  #info {
    margin: 20px;
  }
}

.btnPagamento {
 background-color: #007bff;
 color: white;
 width:300px;
height: 40px;
border: 1px solid white;


}

.center-pag {
  align-items: center;
  justify-content: center;
  display: flex;
}